body, html {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter';
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 16px;
  box-sizing: border-box;
}

.skills {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.floating-box {
  display: flex;
  flex-direction: column;
  position: fixed; 
  top: 25px; 
  right: 25px; 
  width: 203px; 
  height: 192px; 
  background-color: #7CCDFF; 
  color: black; 
  border: 2.5px solid #000000;
  z-index: 1000; 
}
.divider {
  width: 100%; 
  border: 0;
  height: 2px;
  background-color: black; 
}

.title {
  text-align: center; 
  font-size: 22px; 
}

.links a{
  text-decoration: none; 
  text-align: left;
  color: #000000; 
  font-size: 22px;
  padding: 1.5em 1em;
  border-radius: 25px; 
}

.links a:hover {
  font-weight: 410;
}

.header {
  display: flex;
  justify-content: center;
  padding: 9em 1em;
  padding-top: 100px;
  padding-bottom: 100px;
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 80%; /* Box width constraint */
  justify-content: center;
  max-width: 1011px; /* Prevents stretching beyond this size */
  max-height: 195px;
}

.header-text p {
  font-size: 31px;
  line-height: 1.3;
  font-weight: 315;
  text-align: center;
  word-spacing: 0%; 
}

.more {
  color:rgb(0, 0, 0);
  font-size: 25px; 
  font-weight: 315;
  margin-left: auto;
  text-decoration: none; 
}

.more:hover {
  font-weight: 410;
}

.yellow {
  background-color: #FFF67C;
  padding: 2px;
}

.blue {
  background-color: #7CCDFF;
  padding: 2px;
}

.red {
  background-color: #FF7C7C;
  padding: 2px;
}

.green {
  background-color: #91E88D;
  padding: 2px;
}

main {
  padding: 1em;
}

.hidden {
  display: none;
}
