body, html {
  background-color: #fcffd3;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 16px;
  box-sizing: border-box;
}


footer {
  text-align: center;
  background-color: #e16969;
  padding: 16px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  padding: 20px;
}

.header-img {
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  margin-right: 20px; 
}

.header-text {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 20px 0;
}

.links a {
  text-decoration: none; 
  color: #ffffff; 
  font-size: 18px;
  padding: 1em 1em;
  border-radius: 25px; 
  background-color: #e16969;
  transition: background-color 0.3s ease; 
}

.links a:hover {
  background-color: #f0f0f0; 
  color: #d36161; 
}


header {
  text-align: center;
  background-color: #e16969;
  color: white;
  padding: 2em 1em;
}

header h1 {
  text-align: left;
  margin: 0;
  font-size: 2.5em;
}

main {
  padding: 1em;
}


/* Project Cards */
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.project-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1em;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.project-card:hover {
  transform: scale(1.05);
}

/* Project Details */
.details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.hidden {
  display: none;
}

.details button {
  background-color: #e16969;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1em;
}

.details button:hover {
  background-color: #d36161;
}



