.project-widget{
  display:flex;
  align-items: left;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
}

.video-section{
  display:flex;
}

.video-description{
  width: 600px;
  padding-right: 50px;
  line-height: 32px;
}

.video video{
  display: flex;
  justify-content: left;
  width: 700px;
  height: auto;
}

.project-card {
  display: flex;
  width: 100%;
  padding: 50px 0px;
}

.project-card-image {
  display: flex;
  font-size: 17px;
  position: relative;
}

.project-card img {
  /*width: 700px;
  height: auto;*/
  object-fit: cover;
}

.thumbnail {
  width: 700px;
  height: 394px;
  object-fit: cover;
}

.image-caption {
  display: flex;
  justify-content: center;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 70px; 
  left: 50%;
  transform: translateX(-50%);
  gap: 8px;
  padding: 5px 10px;
  border-radius: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #fff;
}

.project-card-details {
  max-width: 600px;
  padding-left: 50px;
  line-height: 30px;
}

.details-content {
  margin-top: 10px;
  font-size: 17px;
}

.details-content h3 {
  margin-bottom: 5px;
}

.links a {
  font-size: 16px;
  color: #515151;
  text-decoration: none;
}

.links a:hover {
  font-weight: bold;
}

.logos {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.tech-logo {
  height: 100px;
  width: auto;
  max-width: 100px; 
}
