.project-card {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 45px 0px;
}

.project-card-image {
  display: flex;
  justify-content: center;
}

.project-card img {
  width: 674px;
  height: 400px;
  object-fit: cover;
}

.project-card-details {
  max-width: 600px;
  padding-left: 50px;
}

.details-content {
  margin-top: 10px;
}

.details-content h3 {
  margin-bottom: 5px;
}

.links {
  margin-top: 10px;
}

.links a {
  margin-right: 15px;
  color: #000000;
  text-decoration: none;
}

.links a:hover {
  text-decoration: none;
}
