/* Style for the skills section */
.skills {
    text-align: center; 
    margin: 16px auto;
    padding: 16px; 
    max-width: 600px;
    background-color: #e16969; 
  }
  
  .skills h1 {
    font-size: 2rem; 
    color: #ffffff; 
    margin-bottom: 10px; 
  }
  
  .skills p {
    font-size: 1.2rem; 
    color: #ffffff; 
  }
  